NOCODB_URL=http://localhost:8080
NOCODB_TOKEN=your_token_here
NOCODB_BASE_ID=your_base_id_here

DISCOURSE_URL=https://[VOTRE_SUBDOMAIN].discourse.group
DISCOURSE_API_KEY=à_remplir_depuis_admin_discourse
DISCOURSE_API_USERNAME=system
DISCOURSE_SSO_SECRET=une_chaine_aleatoire_longue_32_caracteres_minimum
